<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peperoni Pizzeria</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js" defer></script>
    <link rel="shortcut icon" href="../../images/Icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
</head>

<body>
    <header>
        <div class="containerEsquerdo">
            <div class="navEsquerdo">
                <a href="../../index.html">Início</a>
            </div>

            <div class="navEsquerdo">
                <a id="loc" href="./index.html">Fazer pedido</a>
            </div>
        </div>

        <div id="containerLogo">
            <div id="logo">
                <img src="../../images/LogoComFundo.jpg" alt="Logo">
            </div>
        </div>

        <div class="containerDireito">
            <div class="navDireito">
                <a href="">Sobre nós</a>
            </div>

            <div class="navDireito">
                <a id="final" href="">Endereço</a>
            </div>
        </div>
    </header>

    <main>
        <form id="form">
            <div id="containers">
                <div class="container">
                    <div class="bloco">
                        <div class="titulo">
                            <p>Dados Pessoais</p>
                        </div>
    
                        <div class="inputs">
                            <div class="texto">
                                <p>Nome</p>
    
                                <div class="input">
                                    <input type="text" id="nome">
                                </div>
                            </div>
                        </div>
    
                        <div class="inputs">
                            <div class="texto">
                                <p>Email</p>
    
                                <div class="input">
                                    <input type="email" id="email">
                                </div>
                            </div>
                        </div>
    
                        <div class="inputs">
                            <div class="texto">
                                <p>Telefone</p>
    
                                <div class="input">
                                    <input type="number" id="telefone">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="bloco" id="bloco2">
                        <div class="titulo">
                            <p>Endereço</p>
                        </div>
    
                        <div class="inputs">
                            <div class="texto">
                                <p>Bairro</p>
    
                                <div class="input">
                                    <input type="text" id="bairro">
                                </div>
                            </div>
                        </div>
    
                        <div id="juntosEndereco">
                            <div class="texto">
                                <p>Rua</p>
    
                                <div id="rua">
                                    <input type="text" id="rua">
                                </div>
                            </div>
    
                            <div class="texto">
                                <p>Número</p>
    
                                <div id="numero">
                                    <input type="number" id="numero">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="container">
                    <div class="titulo">
                        <p>Pizza</p>
                    </div>
    
                    <div class="inputs">
                        <div class="texto">
                            <p>Tamanho</p>
    
                            <div class="input">
                                <select name="tamanho" id="tamanho">
                                    <option value="Selecionar tamanho" selected>Selecionar tamanho</option>
                                    <option value="Broto">Broto</option>
                                    <option value="Pequena">Pequena</option>
                                    <option value="Média">Média</option>
                                    <option value="Grande">Grande</option>
                                    <option value="GG">GG</option>
                                    <option value="Gigante">Gigante</option>
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <div id="juntosPizza">
                        <div class="inputs">
                            <div class="texto">
                                <p>Borda</p>
    
                                <div class="input">
                                    <select name="borda" id="borda">
                                        <option value="Sem borda" selected>Sem borda</option>
                                        <option value="Cheddar">Cheddar</option>
                                        <option value="Catupiry">Catupiry</option>
                                        <option value="Chocolate preto">Chocolate preto</option>
                                        <option value="Chocolate branco">Chocolate branco</option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
                        <div class="inputs">
                            <div class="texto">
                                <p>Bebida</p>
    
                                <div class="input">
                                    <select name="bebida" id="bebida">
                                        <option value="Sem bebida" selected>Sem bebida</option>
                                        <option value="Coca-Cola 2L">Coca-Cola 2L</option>
                                        <option value="Coca-Cola 350mL">Coca-Cola 350mL</option>
                                        <option value="Guaraná 2L">Guaraná 2L</option>
                                        <option value="Guaraná 350mL">Guaraná 350mL</option>
                                        <option value="Del Valle Uva 290mL">Del Valle Uva 290mL</option>
                                        <option value="Del Valle Laranja 290mL">Del Valle Laranja 290mL</option>
                                        <option value="Água sem gás 500mL">Água sem gás 500mL</option>
                                        <option value="Água com gás 500mL">Água com gás 500mL</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="inputs">
                        <div class="texto">
                            <p>Tipo de entrega</p>
    
                            <div class="input">
                                <select name="tipoEntrega" id="tipoEntrega">
                                    <option value="Selecionar tipo de entrega" selected>Selecionar tipo de entrega</option>
                                    <option value="Retirada no balcão">Retirada no balcão</option>
                                    <option value="Entrega em casa">Entrega em casa</option>
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <div class="inputs">
                        <div class="texto">
                            <p>Observações</p>
    
                            <div class="input">
                                <textarea id="observacoes" cols="40" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="linhaFixa">
                <p id="valorTotal">Valor total: </p>
                <div id="botoes">
                    <button type="reset" id="cancelar">Cancelar</button>
                    <button type="submit" id="confirmar">Confirmar</button>
                </div>
            </div>
        </form>
    </main>

    <footer>
        <div id="linhaUm">
            <i class="fi fi-brands-whatsapp"></i>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-facebook "></i>
            <i class="fi fi-brands-facebook-messenger"></i>
            <i class="fi fi-brands-google"></i>
        </div>

        <div class="linhaDois">
            <p><span>Informações</span> • <span>Suporte</span> • <span>Marketing</span></p>
        </div>

        <div class="linhaDois">
            <p><span>Termos de Uso</span> • <span>Política de Privacidade</span></p>
        </div>

        <div id="linhaTres">
            <p>@ 2022 Camilly Pessotti & Taiany Padilha</p>
        </div>
    </footer>
</body>

</html>