* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #C9031A;
}

#containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo img {
    width: auto;
    height: 7vh;
}

.containerEsquerdo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

.navEsquerdo a {
    margin: 0 6rem 0 0;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;
}

.navEsquerdo a:hover {
    cursor: pointer;
    background-color: #9D1722;
    border-radius: 0.5rem;
}

#loc {
    margin: 0;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
    border-bottom: 3px #ffffff solid;
}

#loc:hover {
    background-color: transparent;
    border-radius: 0;
}

.containerDireito {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}

.navDireito a {
    margin: 0 6rem 0 0;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;
}

.navDireito a:hover {
    cursor: pointer;
    background-color: #9D1722;
    border-radius: 0.5rem;
}

#final {
    margin: 0;
}




main {
    width: 100%;
    min-height: 92vh;
    height: 92vh;
    max-height: 92vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
}

#containers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}

#bloco2 {
    margin: 2rem 0 0 0;
}

.titulo {
    padding: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.titulo p {
    font-size: 1.5rem;
    font-weight: 700;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.texto p {
    padding: 0 0 0.5rem 0;
}

.input input {
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 400px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 0 #00000050;
    outline: none;
    background-color: #eee;
}

.input select {
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 200px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 1px #00000050;
    outline: none;
    background-color: #eee;
}

.input textarea {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 1px #00000050;
    outline: none;
    background-color: #eee;
}

#juntosEndereco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

#ruaDiv input {
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 290px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 1px #00000050;
    outline: none;
    background-color: #eee;
}

#numeroDiv input {
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 1px #00000050;
    outline: none;
    background-color: #eee;
}

.juntosPizza {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
}

#linhaFixa {
    padding: 0 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

#botoes button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    width: 100px;
}

#cancelar {
    background-color: #aaa;
}

#cancelar:hover {
    cursor: pointer;
    background-color: #999;
}

#confirmar {
    margin: 0 0 0 1rem;
    background-color: #C9031A;
}

#confirmar:hover {
    cursor: pointer;
    background-color: #9D1722;
}




footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #aaa;
}

#linhaUm {
    padding: 0 0 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: auto;
}

#linhaUm i {
    font-size: 120%;
    color: #fff;
}

#linhaUm i:hover {
    cursor: pointer;
    color: #555;
}

.linhaDois {
    padding: 0 0 1rem 0;
}

.linhaDois p {
    color: #fff;
}

.linhaDois span:hover {
    color: #555;
}

#linhaTres {
    padding: 1rem 0 0 0;
}

#linhaTres p {
    color: #555;
}