* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: #c9031a;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
}

#logo {
    align-items: center;
    display: flex;
    height: 6vh;
    justify-content: center;
    overflow: hidden;
    width: auto;
}

#logo img {
    height: 100%;
    width: 100%;
}

#navbar a {
    color: #fff;
    margin-left: 2rem;
    padding: 0.5rem;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #9d1722;
    border-radius: 0.5rem;
    cursor: pointer;
}

#pagina {
    border-bottom: 2px #fff solid;
}

#pagina:hover {
    background-color: transparent;
    border-radius: 0;
}




main {
    height: 92vh;
    width: 100%;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#containers {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 30%;
}

.titulo {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    padding: 0 0 1rem 0;
    width: 100%;
}

.titulo p {
    font-size: 20px;
    font-weight: 700;
}

input, select, textarea {
    background-color: #eee;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.5rem;
    width: 20vw;
}

input::placeholder {
    color: #555;
}

#linhaFixa {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    width: 100%;
}

#botoes button {
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.5rem;
    width: 100px;
}

#cancelar {
    background-color: #aaa;
}

#cancelar:hover {
    background-color: #555;
    cursor: pointer;
}

#confirmar {
    background-color: #c9031a;
    margin: 0 0 0 1rem;
}

#confirmar:hover {
    background-color: #9d1722;
    cursor: pointer;
}




footer {
    align-items: center;
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

#linhaUm {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-around;
    padding: 0 0 2rem 0;
    width: 25%;
}

#linhaUm i {
    color: #fff;
    font-size: 120%;
}

#linhaUm i:hover {
    color: #555;
    cursor: pointer;
}

.linhaDois {
    padding: 0 0 1rem 0;
}

.linhaDois p {
    color: #fff;
}

.linhaDois span:hover {
    color: #555;
}

#linhaTres {
    padding: 1rem 0 0 0;
}

#linhaTres p {
    color: #555;
}