* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/Fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #18252f;
}

header {
    align-items: center;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
}

#logo {
    align-items: center;
    display: flex;
    height: 6vh;
    justify-content: center;
    overflow: hidden;
    width: auto;
}

#logo img {
    height: 100%;
    width: 100%;
}

#navbar a {
    color: #fff;
    margin-left: 2rem;
    padding: 0.5rem;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ffffff50;
    border-radius: 0.5rem;
    cursor: pointer;
}

#pagina {
    border-bottom: 2px #fff solid;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

#pagina:hover {
    background-color: transparent;
    border-radius: 0;
}




main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 92vh;
}

#texto {
    width: 30%;
    padding: 0 0 0 2rem;
}

#texto p {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}




footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #18252f;
}

#linhaUm {
    padding: 0 0 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: auto;
}

#linhaUm i {
    font-size: 120%;
    color: #fff;
}

#linhaUm i:hover {
    cursor: pointer;
    color: #4a5f6e;
}

.linhaDois {
    padding: 0 0 1rem 0;
}

.linhaDois p {
    color: #fff;
}

.linhaDois span:hover {
    color: #4a5f6e;
}

#linhaTres {
    padding: 1rem 0 0 0;
}

#linhaTres p {
    color: #4a5f6e;
}