<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peperoni Pizzeria</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="../../images/Icon.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap" rel="stylesheet">
    <script src="./script.js" defer></script>
</head>

<body>
    <header>
        <div class="containerEsquerdo">
            <div class="navEsquerdo">
                <a href="../../index.html">Início</a>
            </div>

            <div class="navEsquerdo">
                <a id="loc" href="./index.html">Fazer pedido</a>
            </div>
        </div>

        <div id="containerLogo">
            <div id="logo">
                <img src="../../images/LogoComFundo.jpg" alt="Logo">
            </div>
        </div>

        <div class="containerDireito">
            <div class="navDireito">
                <a href="./index.html">Sobre nós</a>
            </div>

            <div class="navDireito">
                <a id="final" href="">Endereço</a>
            </div>
        </div>
    </header>

    <main>
        <div id="containers">
            <div class="container">
                <div id="logoCompleta">
                    <img src="../../images/LogoCompleta.jpg" alt="Logo completa">
                </div>
            </div>

            <div class="container">
                <div id="tituloTexto">
                    <p id="textoUm">Sobre nós</p>
                    <p id="textoDois">Única e surpreendente</p>
                </div>

                <div id="texto">
                    <p>Quem conhece a Peperoni Pizzeria, reconhece o sabor de uma pizza de verdade. Nossa qualidade de produto é
                        excepcional, resultado de todo o cuidado desde o início do processo. A massa é produzida
                        artesanalmente todos os dias e proporciona esta massa leve e crocante.</p>
                    <p>Aqui, temos o máximo cuidado em cada etapa do processo para que nossos clientes recebam apenas o
                        melhor. Tudo começa com a escolha de nossos parceiros e equipe, que recebe constante treinamento
                        para oferecer um atendimento de primeira.</p>
                    <p>Os ingredientes são escolhidos com todo o cuidado, como a farinha especial que usamos nas massas
                        e a muçarela desenvolvida especialmente para pizzas, ingredientes que aliados ao talento de
                        nossos pizzaiolos resultam nos melhores sabores e sensações a cada fatia.</p>

                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="linhaUm">
            <i class="fi fi-brands-whatsapp"></i>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-facebook "></i>
            <i class="fi fi-brands-facebook-messenger"></i>
            <i class="fi fi-brands-google"></i>
        </div>

        <div class="linhaDois">
            <p><span>Informações</span> • <span>Suporte</span> • <span>Marketing</span></p>
        </div>

        <div class="linhaDois">
            <p><span>Termos de Uso</span> • <span>Política de Privacidade</span></p>
        </div>

        <div id="linhaTres">
            <p>@ 2022 Camilly Pessotti & Taiany Padilha</p>
        </div>
    </footer>
</body>

</html>