* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: #c9031a;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
}

#logo {
    align-items: center;
    display: flex;
    height: 6vh;
    justify-content: center;
    overflow: hidden;
    width: auto;
}

#logo img {
    height: 100%;
    width: 100%;
}

#navbar a {
    color: #fff;
    margin-left: 2rem;
    padding: 0.5rem;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #9d1722;
    border-radius: 0.5rem;
    cursor: pointer;
}

#pagina {
    border-bottom: 2px #fff solid;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

#pagina:hover {
    background-color: transparent;
    border-radius: 0;
}




main {
    width: 100%;
    min-height: 92vh;
    height: 92vh;
    max-height: 92vh;
}

#containers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#logoCompleta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

#logoCompleta img {
    width: 100%;
    height: auto;
}

#texto p {
    padding: 0 1rem 1rem 1rem;
}

#tituloTexto {
    width: 100%;
}

#textoUm {
    padding: 0 1rem 1rem 1rem;
    font-size: 2rem;
    font-weight: 700;
}

#textoDois {
    padding: 0 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #999;
}




footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #aaa;
}

#linhaUm {
    padding: 0 0 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: auto;
}

#linhaUm i {
    font-size: 120%;
    color: #fff;
}

#linhaUm i:hover {
    cursor: pointer;
    color: #555;
}

.linhaDois {
    padding: 0 0 1rem 0;
}

.linhaDois p {
    color: #fff;
}

.linhaDois span:hover {
    color: #555;
}

#linhaTres {
    padding: 1rem 0 0 0;
}

#linhaTres p {
    color: #555;
}