* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("/app/src/Fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-weight: 500;
}

header {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
}

#containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo img {
    width: auto;
    height: 7vh;
}

.containerEsquerdo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

.navEsquerdo a {
    margin: 0 6rem 0 0;
    color: #ffffff;
    text-decoration: none;
    padding: 0.8rem;
}

.navEsquerdo a:hover {
    cursor: pointer;
    background-color: #ffffff50;
    border-radius: 1rem;
}

#loc {
    padding: 0.8rem 0.8rem 0.2rem 0.8rem;
    border-bottom: 2px #ffffff solid;
}

#loc:hover {
    background-color: transparent;
    border-radius: 0;
}

.containerDireito {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}

.navDireito a {
    margin: 0 6rem 0 0;
    color: #ffffff;
    text-decoration: none;
    padding: 0.8rem;
}

.navDireito a:hover {
    cursor: pointer;
    background-color: #ffffff50;
    border-radius: 1rem;
}

#final {
    margin: 0;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 92vh;
}

#texto {
    width: 30%;
    padding: 0 0 0 2rem;
}

#texto p {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}

footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #18212a;
}

#linhaUm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: auto;
}

#linhaUm .fi {
    width: 100px;
    color: #ffffff;
}