<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peperoni Pizzeria</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js" defer></script>
    <link rel="shortcut icon" href="../../images/Icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
</head>

<body>
    <header>
        <div class="containerEsquerdo">
            <div class="navEsquerdo">
                <a href="../../index.html">Início</a>
            </div>

            <div class="navEsquerdo">
                <a id="loc" href="./index.html">Fazer pedido</a>
            </div>
        </div>

        <div id="containerLogo">
            <div id="logo">
                <img src="../../images/LogoComFundo.jpg" alt="Logo">
            </div>
        </div>

        <div class="containerDireito">
            <div class="navDireito">
                <a href="">Sobre nós</a>
            </div>

            <div class="navDireito">
                <a id="final" href="">Endereço</a>
            </div>
        </div>
    </header>

    <main>
        <div id="titulo">
            <p>Meu pedido</p>
        </div>

        <div id="containers">
            <div class="juntos">
                <div class="container">
                    <div class="texto">
                        <span>Nome:<p id="nome"> </p></span>
                    </div>

                    <div class="texto">
                        <span>Email: <p id="email"> </p></span>
                    </div>

                    <div class="texto">
                        <span>Telefone: <p id="telefone"> </p></span>
                    </div>
                </div>

                <div class="container">
                    <div class="texto">
                        <span>Bairro: <p id="bairro"> </p></span>
                    </div>

                    <div class="texto">
                        <span>Rua: <p id="rua"> </p></span>
                    </div>

                    <div class="texto">
                        <span>Número: <p id="numero"> </p></span>
                    </div>
                </div>
            </div>

            <div class="juntos">
                <div class="container">
                    <div class="texto">
                        <span>Tamanho: <p id="tamanho"> </p></span>
                    </div>
    
                    <div class="texto">
                        <span>Sabores: <p id="sabores"> </p></span>
                    </div>
    
                    <div class="texto">
                        <span>Borda: <p id="borda"> </p></span>
                    </div>
    
                    <div class="texto">
                        <span>Bebida: <p id="bebida"> </p></span>
                    </div>
    
                    <div class="texto">
                        <span>Tipo de entrega: <p id="tipoEntrega"> </p></span>
                    </div>
    
                    <div class="texto">
                        <span>Observações: <p id="observacoes"> </p></span>
                    </div>
    
                    <div class="texto">
                        <span>Valor total: <p id="valorTotal"> </p></span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="linhaUm">
            <i class="fi fi-brands-whatsapp"></i>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-facebook "></i>
            <i class="fi fi-brands-facebook-messenger"></i>
            <i class="fi fi-brands-google"></i>
        </div>

        <div class="linhaDois">
            <p><span>Informações</span> • <span>Suporte</span> • <span>Marketing</span></p>
        </div>

        <div class="linhaDois">
            <p><span>Termos de Uso</span> • <span>Política de Privacidade</span></p>
        </div>

        <div id="linhaTres">
            <p>@ 2022 Camilly Pessotti & Taiany Padilha</p>
        </div>
    </footer>
</body>

</html>